{% extends 'base.html' %}

{% block title %} <title>Bookmarked | BrandX</title>  {% endblock title %}

{% block content %}
    <main class="container">
        <center>
            <h1>Your Bookmarks</h1>
            {% if not user.is_authenticated %}
                <p>Login to see saved objects you've tagged.</p>
            {% endif %}
        </center>
        {% for obj in bookmarked_objs %}
            <div hx-trigger="load" hx-get="{{obj.content_object.get_item_url}}">
                {% include '../commons/_panel.html' %}
            </div>
            <!--
            {% if forloop.first %}
                <div class="row text-muted">
                    <div class="col">Object bookmarked</div>
                    <div class="col">Type of Object</div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <span>{{obj.content_object}}</span>
                    {% if user.is_authenticated %}
                        {{obj.content_object.modal}}
                    {% endif %}
                </div>
                <div class="col">
                    <span>{{obj.content_type.name}}</span>
                </div>
            </div>
            -->
        {% endfor %}
    </main>
{% endblock content %}
